.count{
    color: grey;
}
.incr{
    background-color: rgb(185, 183, 183);
    position: relative;
    padding: 10px 25px;
}
.incr::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(12, 23, 174, 0.4);
    color: azure ;
    animation:   2s linear 1;
}
.incr.active::before{
    animation-name: anim;
}
.decr{
    background-color: rgb(185, 183, 183);
    position: relative;
    padding: 10px 25px;
}
.decr::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(12, 23, 174, 0.403);
    animation:  2s linear 1;
}
.decr.active::before{
    animation-name: anim;
}

@keyframes anim{
    0%{width: 0%;}
    100%{width: 100%;}
}